body {
  background-color: beige;
}

#ue {
  background-color: bisque;
  border: 1px solid burlywood;
}

#formBox {
  background-color: rgba(240, 211, 175, 0.408);
  border: 1px solid burlywood;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#bread {
  background-color: bisque;
  border: 1px solid burlywood;
}

#pe{
margin-top:25rem;
}
