img {
  width: 200px;
}
body {
  background-color: beige;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  justify-content: space-evenly;
}
button {
  background-color: bisque;
  border: 1px solid burlywood;
  border-radius: 1rem;
}
