body {
    background-color: beige;
    
  }
  
  #caixa {
    background-color: rgba(240, 211, 175, 0.408);
    border: 1px solid burlywood;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  #subb {
    background-color: bisque;
    border: 1px solid burlywood;
  }
  
  #manda {
    background-color: bisque;
    border: 1px solid black;
  }
  #regress {
    background-color: bisque;
    border: 1px solid burlywood;
  }
  
  #pe {
    margin-top: 25rem;
  }
  
  #corpinho2{
    display: flex;
    align-items: center; /* Centraliza verticalmente */ 
  }

  #pfp {
    margin-right: 5%; /* Espaço entre a imagem e o texto */
    width: 25%;
    margin-top: 2%;
    margin-left: 2%;
    
  }  
  
  #hello{
    margin-right: 1%;
  }

  #sla{
    margin-left: 4%;
    
  }
 
  #modal_content{
    background-color: #FFFFFF;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }

  #modal{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
   
  }

  #a22{
    background-color: bisque;
    border: 1px solid black;
  }

  #modal_content.seusEstilosDoSite {
    background-color: bisque;
    border: 1px solid black;
   }
  #abrir{
    background-color: bisque;
    border: 1px solid black;
  }
  #fechaaa{
    background-color: bisque;


  }
  #modal {
    display: none;
    /* Outros estilos conforme necessário */
  }
  








  table.redTable {
    border: 2px solid black;
    background-color: bisque;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td, table.redTable th {
    border: 1px solid black;
    padding: 3px 2px;
  }
  table.redTable tbody td {
    font-size: 13px;
  }
  table.redTable tr:nth-child(even) {
    background: beige;
  }
  table.redTable thead {
    background: bisque;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-align: center;
    border-left: 2px solid black;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }
  
  table.redTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: black;
    background: b;
  }
  table.redTable tfoot td {
    font-size: 13px;
  }
  table.redTable tfoot .links {
    text-align: right;
  }
  table.redTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: black;
    padding: 2px 8px;
    border-radius: 5px;
  }